/* .about-us .about-usContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px 50px;
}

.about-us .about-usContainer .about-us-img .about-img {
    width: 100%;
} */


